/* ---------- globals ---------- */
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  background-color:rgb(252, 249, 234)
}

/* ---------- lane handling ---------- */
.swim-lanes {
  min-height: 60vh;
}

.highlight:hover {
  /* Add styles to highlight the lane */
  box-shadow:0 0 10px orangered;
}

h2 {
  color:white;
  margin-top:5px;
}

/* ---------- card handling ---------- */
.task-card {
  margin: 0 auto;
  display: flex;
  gap:2rem;
  z-index: 1000;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 8px 4px 4px rgba(0,0,0,0.2);
  width: 60%;
  padding: 1rem;
}

.task-card:hover {
  cursor: grab;
}

#task-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size:1.25rem;
}

.column {
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

#task-description-input {
  display:block;
  width:100%;
}

.inputs{
  display: flex;
  border:1px solid black;
}

#todo-cards{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.warn{
  background-color: rgb(255, 196, 0);
}

.late{
  background-color: rgb(163, 11, 11);
}

.card-header {
  background-color:#777;
}

.card-title {
  font-family:"Handlee", cursive;
  font-synthesis:weight;
  font-weight:900;
}

.card-body {
  font-size:1.75rem;
}

.btn {
  font-size:.75em;
}